<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Friend Request App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
  <% if user_signed_in? %>
      <p> <%= current_user.id %></p>
      <%= button_to destroy_user_session_path, method: :delete do %>
      Log Out
      <% end %>
      <%= link_to "Friend Requests", friend_requests_path%>
  <% else %>
      <%= button_to new_user_registration_path, method: :get do %>
      Sign Up
      <% end %>
      <%= button_to new_user_session_path, method: :get do %>
      Log In
      <% end %>
  <% end %>

    <%= yield %>
  </body>
</html>
